<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<title>Hyderabad Biryani & Grill</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
	<link rel="manifest" href="assets/img/favicons/manifest.json" />
	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png" />
	<meta name="theme-color" content="#ffffff" />
	<link rel="preconnect" href="https://fonts.googleapis.com/" />
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Great+Vibes&amp;family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;family=ZCOOL+XiaoWei&amp;display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="assets/css/app.min.css" />
	<link rel="stylesheet" href="assets/css/fontawesome.min.css" />
	<link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
	<div class="has-smooth" id="has_smooth"></div>

	<div class="sidemenu-wrapper sidemenu-cart">
		<div class="sidemenu-content">
			<button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
			<div class="widget woocommerce widget_shopping_cart">
				<h3 class="widget_title">Shopping cart</h3>
				<div class="widget_shopping_cart_content">
					<ul class="woocommerce-mini-cart cart_list product_list_widget" id="cart-items">
						<!-- Cart items will be dynamically added here -->
					</ul>
					<p class="woocommerce-mini-cart__total total">
						<strong>Subtotal:</strong> <span class="woocommerce-Price-amount amount"><span
								class="woocommerce-Price-currencySymbol">$</span><span
								id="cart-subtotal">0.00</span></span>
					</p>
					<p class="woocommerce-mini-cart__buttons buttons"><a href="cart.html" class="th-btn wc-forward">View
							cart</a> <a href="checkout.html" class="th-btn checkout wc-forward">Checkout</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="sidemenu-wrapper sidemenu-info">
		<div class="sidemenu-content">
			<button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
			<div class="widget">
				<div class="th-widget-about">

					<div class="Center">
						<a href="index.html"><img src="assets/img/logonew.png" alt="logo" /></a>
					</div>
				</div>
			</div>
			<div class="widget">
				<h3 class="widget_title"><span id="user_name"></h3>
				<div class="th-widget-contact">
					<div class="info-box">
						<h4 class="box-title">Address Location</h4>
						<div class="box-content">
							<div class="box-icon"><i class="fas fa-location-dot"></i></div>
							<p class="box-text"><span id="user_address"></span></p>
						</div>
					</div>
					<div class="info-box">
						<h4 class="box-title">Phone Number</h4>
						<div class="box-content">
							<div class="box-icon"><i class="fas fa-phone"></i></div>
							<p class="box-text"><a href="#"><span id="user_phoneNumber"></span></a></p>
						</div>
					</div>
					<div class="info-box">
						<h4 class="box-title">Email address</h4>
						<div class="box-content">
							<div class="box-icon"><i class="fas fa-envelope"></i></div>
							<p class="box-text"><a href="#"><span id="user_email"></span></a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="widget">
				<h3 class="widget_title">Orders</h3>
				<div class="th-widget-contact">
					<div class="info-box">
						<div class="box-content">
							<div class="box-icon"><i class="fas fa-envelope"></i></div>
							<p class="box-text"><a href="#"><span id="user_email"></span></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="th-menu-wrapper">
		<div class="th-menu-area text-center">
			<button class="th-menu-toggle"><i class="fal fa-times"></i></button>
			<div class="mobile-logo">
				<a href="index.html"><img src="assets/img/logonew.png" alt="logo" /></a>
			</div>
			<div class="th-mobile-menu">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li class="menu-item-has-children">
						<a href="#">Menus</a>
						<ul class="sub-menu">
							<li><a href="../shop.html/soups">SOUPS</a></li>
							<li><a href="../shop.html/appetizers-vegerarian">APPETIZERS - VEGETARIAN</a>
							</li>
							<li><a href="../shop.html/appetizers-non-vegerarian">APPETIZERS -
									NON-VEGETARIAN</a></li>
							<li><a href="../shop.html/tandor-veg">TANDOOR (CLAY OVEN)-VEG</a></li>
							<li><a href="../shop.html/tandoor-non-veg">TANDOOR (CLAY OVEN)-NON-VEG</a>
							</li>
							<li><a href="../shop.html/veg-entrees">VEGETARIAN ENTREES</a></li>
							<li><a href="../shop.html/non-veg-entrees">NON VEGETARIAN ENTREES</a></li>
							<li><a href="../shop.html/dosa-idli">DOSA AND IDLI </a></li>
							<li><a href="../shop.html/indo-chinese-veg">INDO-CHINESE -VEG</a></li>
							<li><a href="../shop.html/indo-chinese-non-veg">INDO-CHINESE-NON VEG</a>
							</li>
							<li><a href="../shop.html/indo-chinese-rice">INDO-CHINESE-RICE</a></li>
							<li><a href="../shop.html/indo-chinese-noodles">INDO-CHINESE-NOODLES</a>
							</li>
							<li><a href="../shop.html/indo-chinese-gravy">INDO-CHINESE-GRAVY</a></li>
							<li><a href="../shop.html/biryani">BIRYANI</a></li>
							<li><a href="../shop.html/pulav">PULAV</a></li>
							<li><a href="../shop.html/rice">RICE SPECIALITIES </a></li>
							<li><a href="../shop.html/breads">BREADS</a></li>
							<li><a href="../shop.html/deserts">DESSERTS</a></li>
							<li><a href="../shop.html/beverages">BEVERAGES</a></li>
							<li><a href="../shop.html/sides">SIDES</a></li>
						</ul>
					</li>
					<li><a href="wishlist.html">Wish List</a></li>
					<li><a href="orders.html">Orders</a></li>
					<li><a href="about.html">About us</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<header class="th-header header-layout1">
		<div class="header-top">
			<div class="container">
				<div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
					<div class="col-auto d-none d-lg-block">
						<div class="header-links">
							<ul>
								<li class="d-none d-xxl-inline-block"><i class="fas fa-location-dot"></i> <a
										href="#">11705 Jones Bridge Rd Suite C 201, Johns Creek, GA 30005</a></li>
								<li><i class="fas fa-phone"></i> <a href="tel:+(770) 800-1199">+(770) 800-1199</a></li>
								<li><i class="fas fa-envelope"></i> <a href="#">info@hydgrill.com</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="sticky-wrapper">
			<div class="menu-area">
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<div class="col-auto">
							<div class="header-logo">
								<a href="home-restaurant-shop.html"><img src="assets/img/logonew.png"
										alt="Restar" /></a>
							</div>
						</div>
						<div class="col-auto">
							<nav class="main-menu d-none d-lg-inline-block">
								<ul>
									<li><a href="index.html">Home</a></li>
									<li class="menu-item-has-children">
										<a href="#">Menus</a>
										<ul class="sub-menu">
											<li><a href="../shop.html/soups">SOUPS</a></li>
											<li><a href="../shop.html/appetizers-vegerarian">APPETIZERS - VEGETARIAN</a>
											</li>
											<li><a href="../shop.html/appetizers-non-vegerarian">APPETIZERS -
													NON-VEGETARIAN</a></li>
											<li><a href="../shop.html/tandor-veg">TANDOOR (CLAY OVEN)-VEG</a></li>
											<li><a href="../shop.html/tandoor-non-veg">TANDOOR (CLAY OVEN)-NON-VEG</a>
											</li>
											<li><a href="../shop.html/veg-entrees">VEGETARIAN ENTREES</a></li>
											<li><a href="../shop.html/non-veg-entrees">NON VEGETARIAN ENTREES</a></li>
											<li><a href="../shop.html/dosa-idli">DOSA AND IDLI </a></li>
											<li><a href="../shop.html/indo-chinese-veg">INDO-CHINESE -VEG</a></li>
											<li><a href="../shop.html/indo-chinese-non-veg">INDO-CHINESE-NON VEG</a>
											</li>
											<li><a href="../shop.html/indo-chinese-rice">INDO-CHINESE-RICE</a></li>
											<li><a href="../shop.html/indo-chinese-noodles">INDO-CHINESE-NOODLES</a>
											</li>
											<li><a href="../shop.html/indo-chinese-gravy">INDO-CHINESE-GRAVY</a></li>
											<li><a href="../shop.html/biryani">BIRYANI</a></li>
											<li><a href="../shop.html/pulav">PULAV</a></li>
											<li><a href="../shop.html/rice">RICE SPECIALITIES </a></li>
											<li><a href="../shop.html/breads">BREADS</a></li>
											<li><a href="../shop.html/deserts">DESSERTS</a></li>
											<li><a href="../shop.html/beverages">BEVERAGES</a></li>
											<li><a href="../shop.html/sides">SIDES</a></li>
										</ul>
									</li>
									<li><a href="wishlist.html">Wish List</a></li>
									<li><a href="orders.html">Orders</a></li>
									<li><a href="about.html">About us</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-auto">
							<div class="header-button">
								<button type="button" class="simple-icon sideMenuToggler"><span class="badge"
										id="cartItemsSize"></span>
									<i class="fal fa-cart-shopping"></i></button>
								<a href="reservation.html" class="th-btn style4 d-none d-xl-block"
									style="border-radius:20px">Book A Table</a> <button type="button"
									class="th-menu-toggle d-block d-lg-none"><i class="far fa-bars"></i></button>
								<a class="th-btn" href="#popup1" id="login_button" style="border-radius:20px">Login</a>

								<button type="button" id="user_button" class="square-btn sideMenuInfo"><i
										class="fal fa-user"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="smooth-wrapper">
		<div id="smooth-content">
			<div class="breadcumb-wrapper" data-bg-src="assets/img/bg/breadcumb-bg.jpg">
				<div class="container">
					<div class="breadcumb-content">
						<h1 class="breadcumb-title">Contact Us</h1>
						<ul class="breadcumb-menu">
							<li><a href="index.html">Home</a></li>
							<li>Contact Us</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="space">
				<div class="container">
					<div class="row gx-0 gy-40">
						<div class="col-xl-5">
							<div class="contact-feature-area">
								<div class="title-area mb-32">
									<h2 class="sec-title title-ani2">Contact Information</h2>
									<div class="text-ani">
										<p class="sec-text">Immerse yourself in a sophisticated and inviting ambiance.
											The carefully curated decor sets the stage for intimate dinners,
											celebrations.</p>
									</div>
								</div>
								<div class="contact-feature-wrap">
									<div class="contact-feature">
										<div class="box-icon"><i class="fal fa-location-dot"></i></div>
										<div class="media-body">
											<h3 class="box-title text-ani">Location</h3>
											<p class="box-text text-ani">11705 Jones Bridge Rd Suite C 201, Johns Creek,
												GA 30005</p>
										</div>
									</div>
									<div class="contact-feature">
										<div class="box-icon"><i class="fal fa-envelope"></i></div>
										<div class="media-body">
											<h3 class="box-title text-ani">Email Address</h3>
											<p class="box-text text-ani"><a href="#">info@hydgrill.com</a></p>
										</div>
									</div>
									<div class="contact-feature">
										<div class="box-icon"><i class="fal fa-phone"></i></div>
										<div class="media-body">
											<h3 class="box-title text-ani">Contact Number</h3>
											<p class="box-text text-ani"><a href="tel:+(770) 800-1199">+(770)
													800-1199</a></p>
										</div>
									</div>
								</div>
								<div class="th-social text-ani">
									<a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a
										href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
									<a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a> <a
										href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
									<a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
								</div>
							</div>
						</div>
						<div class="col-xl-7">
							<form action="#" method="POST" class="contact-form ajax-contact">
								<h2 class="sec-title title-ani2">Get In Touch</h2>
								<div class="row">
									<div class="form-group col-sm-6"><input type="text" class="form-control" name="name"
											id="name" placeholder="Your Name" /> <i class="fal fa-user"></i></div>
									<div class="form-group col-sm-6"><input type="email" class="form-control"
											name="email" id="email" placeholder="Email Address" /> <i
											class="fal fa-envelope"></i></div>
									<div class="form-group col-12"><input type="tel" class="form-control" name="number"
											id="number" placeholder="Phone Number" /> <i class="fal fa-phone"></i></div>
									<div class="form-group col-12">
										<select name="subject" id="subject" class="form-select">
											<option value="" disabled="disabled" selected="selected" hidden>Select
												Subject</option>
											<option value="General Query">General Query</option>
											<option value="Help Support">Help Support</option>
											<option value="Sales Support">Sales Support</option>
										</select>
										<i class="fal fa-chevron-down"></i>
									</div>
									<div class="form-group col-12"><textarea name="message" id="message" cols="30"
											rows="3" class="form-control"
											placeholder="Type Appointment Note...."></textarea> <i
											class="fal fa-pencil"></i></div>
									<div class="form-btn col-12"><button class="th-btn w-100">Send Message Now</button>
									</div>
								</div>
								<p class="form-messages mb-0 mt-3"></p>
							</form>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer-wrapper footer-layout1" data-bg-src="assets/img/bg/footer_bg_2.jpg">
				<div class="container z-index-common">
					<div class="newsletter-wrap">
						<div class="newsletter-content">
							<h2 class="sec-title title-ani2 text-white m-0">Subscribe for daily update</h2>
						</div>
						<form class="newsletter-form">
							<div class="form-group"><input class="form-control" type="email" placeholder="Email Address"
									required="" /></div>
							<button type="submit" class="th-btn">Subscribe</button>
						</form>
					</div>
				</div>
				<div class="widget-area">
					<div class="container">
						<div class="row justify-content-between">
							<div class="col-md-6 col-xl-auto">
								<div class="widget footer-widget" style="margin-top:-20px">
									<div class="th-widget-about">
										<div class="about-logo">
											<a href="index.html"><img src="assets/img/logonew.png" alt="logo" /></a>
										</div>
										<p class="about-text">We believe that great food shouldn't break the bank.
											That's why we offer affordable options without compromising on taste.</p>
										<div class="info-box">
											<h4 class="box-title">Address Location</h4>
											<div class="box-content">
												<div class="box-icon"><i class="fas fa-location-dot"></i></div>
												<p class="box-text">11705 Jones Bridge Rd Suite C 201, Johns Creek, GA
													30005</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-xl-auto">
								<div class="widget widget_nav_menu footer-widget">
									<h3 class="widget_title">Quick Links</h3>
									<div class="menu-all-pages-container">
										<ul class="menu">
											<li><a href="about.html">About us</a></li>
											<li><a href="shop.html/soups">Shop</a></li>
											<li><a href="contact.hml">Contact</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-xl-auto">
								<div class="widget widget_nav_menu footer-widget">
									<h3 class="widget_title">Food Menu</h3>
									<div class="menu-all-pages-container">
										<ul class="menu">
											<li><a href="shop.html/dosa-idli">DOSA AND IDLI </a></li>
											<li><a href="shop.html/indo-chinese-veg">INDO-CHINESE VEG</a></li>
											<li><a href="shop.html/indo-chinese-non-veg">INDO-CHINESE NON-VEG</a></li>
											<li><a href="shop.html/biryani">BIRYANI</a></li>
											<li><a href="shop.htmlpulav">PULAV</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-xl-auto">
								<div class="widget widget_download footer-widget">
									<h4 class="widget_title">Install App</h4>
									<div class="th-download-widget">
										<p class="footer-text">From App Store or Google Play</p>
										<div class="btn-group">
											<a href="https://www.apple.com/app-store/" class="download-btn"><img
													src="assets/img/icon/app_store_1.png" alt="icon" /> </a>
											<a href="https://play.google.com/store/apps" class="download-btn"><img
													src="assets/img/icon/app_store_2.png" alt="icon" /></a>
										</div>
										<p class="mt-30 mb-3">24/7 Support Center</p>
										<h3 class="box-title"><a href="tel:+(770) 800-1199">+(770) 800-1199</a></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="copyright-wrap">
					<div class="container">
						<div class="row gx-1 gy-2 align-items-center">
							<div class="col-md-7">
								<p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2024 <a
										href="#">Hyderabad Biryani & Grill</a>. All Rights Reserved.</p>
							</div>
							<div class="col-md-5 text-center text-md-end">
								<div class="footer-links">
									<ul>
										<li><a href="about.html">Terms & Condition</a></li>
										<li><a href="about.html">Privacy & Policy</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<div class="scroll-top">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
				style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
			</path>
		</svg>
	</div>
	
	<div id="popup1" class="overlay">
		<div class="popup">
			<a class="close" href="#">&times;</a>
			<div class="content">
	
				<div class="wrapper">
					<div class="title-text">
						<div class="title login">Login</div>
						<div class="title signup">Signup</div>
					</div>
					<div class="form-container">
						<div class="slide-controls">
							<input type="radio" name="slide" id="login" checked>
							<input type="radio" name="slide" id="signup">
							<label for="login" class="slide login">Login</label>
							<label for="signup" class="slide signup">Signup</label>
							<div class="slider-tab"></div>
						</div>
						<div class="form-inner">
							<form action="#" class="login" id="loginForm">
								<div class="field">
									<input type="text" placeholder="Email Address" required>
								</div>
								<div class="field">
									<input type="password" placeholder="Password" required>
								</div>
								<div class="pass-link"><a href="#">Forgot password?</a></div>
								<div class="field btn" style="padding: 0rem;">
									<div class="btn-layer"></div>
									<input type="submit" value="Login" style="margin-left: 20px;">
								</div>
								<div class="signup-link">Not a member? <a href="">Signup now</a></div>
							</form>
							<form action="#" class="signup" id="signupForm">
								<div class="field">
									<input type="text" id="name" placeholder="Name" required>
								</div>
								<div class="field">
									<input type="text" id="email" placeholder="Email Address" required>
								</div>
								<div class="field">
									<input type="password" id="password" placeholder="Password" required>
								</div>
								<div class="field">
									<input type="text" id="phoneNumber" placeholder="Phone Number" required>
								</div>
								<div class="field">
									<input type="text" id="address" placeholder="Address" required>
								</div>
								<div class="field btn" style="padding: 0rem;">
									<div class="btn-layer"></div>
									<input type="submit" value="Signup" style="margin-left: 20px;">
								</div>
							</form>
						</div>
					</div>
				</div>
	
	
			</div>
		</div>
	</div>
	
	
	<script src="assets/js/vendor/jquery-3.7.1.min.js"></script>
	<script src="assets/js/app.min.js"></script>
	<script src="assets/js/main.js"></script>
</body>
<script>
	function getArrayFromLocalStorage(key) {
		const storedArray = localStorage.getItem(key);
		return storedArray ? JSON.parse(storedArray) : [];
	}
	
	
	const loginText = document.querySelector(".title-text .login");
	const loginForm = document.querySelector("form.login");
	const loginBtn = document.querySelector("label.login");
	const signupBtn = document.querySelector("label.signup");
	const signupLink = document.querySelector("form .signup-link a");
	signupBtn.onclick = (() => {
		loginForm.style.marginLeft = "-50%";
		loginText.style.marginLeft = "-50%";
	});
	loginBtn.onclick = (() => {
		loginForm.style.marginLeft = "0%";
		loginText.style.marginLeft = "0%";
	});
	signupLink.onclick = (() => {
		signupBtn.click();
		return false;
	});


	$(document).ready(function () {
		const currentArray = getArrayFromLocalStorage("cartItems");
		$("#cartItemsSize").text(currentArray.length);

		const storedUser = localStorage.getItem("user"); // Retrieve string from localStorage

		if (storedUser) {
			const parsedUser = JSON.parse(storedUser); // Parse the string back into an object

			if (parsedUser.id > 0) {
				$("#user_button").show();
				$("#login_button").hide();
				$("#user_name").text(parsedUser.name);
				$("#user_address").text(parsedUser.address);
				$("#user_phoneNumber").text(parsedUser.phoneNumber);
				$("#user_email").text(parsedUser.email);
			}
		} else {
			console.log("No user found in localStorage");
			$("#user_button").hide();
			$("#login_button").show();
		}
	});

	//cart item display

	document.addEventListener("DOMContentLoaded", function () {
		let cartItems = JSON.parse(localStorage.getItem("cartItems") || "[]");

		// Function to fetch product data from API
		const fetchProductData = async (mealId) => {
			try {
				const response = await fetch(`/api/meals/getbyid/${mealId}`);
				return await response.json();
			} catch (error) {
				console.error("Error fetching product data:", error);
			}
		};

		// Function to update the cart dynamically
		const updateCart = async () => {
			const cartItemsContainer = document.getElementById("cart-items");
			let cartSubtotal = 0;

			// Clear cart items container before inserting new items
			cartItemsContainer.innerHTML = "";

			// Loop through each item in cartItems
			for (let cartItem of cartItems) {
				const product = await fetchProductData(cartItem.mealId);

				if (!product) continue;

				// Use the quantity from cartItems
				const productQuantity = cartItem.quantity || 1;
				const productTotal = product.priceAfterDiscount * productQuantity;
				cartSubtotal += productTotal;

				// Dynamically create cart item
				const cartItemHtml = `
							                <li class="woocommerce-mini-cart-item mini_cart_item">
							                    <a href="#" class="remove remove_from_cart_button" data-id="${product.id}">
							                        <i class="far fa-times"></i>
							                    </a>
							                    <a href="#">
							                        <img src="${product.strMealThumb}" alt="Cart Image" />${product.itemName}
							                    </a>
							                    <span class="quantity">
							                        ${productQuantity} × <span class="woocommerce-Price-amount amount">
							                            <span class="woocommerce-Price-currencySymbol">$</span>${product.priceAfterDiscount.toFixed(2)}
							                        </span>
							                    </span>
							                </li>
							            `;

				// Append the new cart item to the cartItemsContainer
				cartItemsContainer.insertAdjacentHTML("beforeend", cartItemHtml);
			}

			// Update subtotal
			document.getElementById("cart-subtotal").textContent = cartSubtotal.toFixed(2);

			$("#cartItemsSize").text(cartItems.length);

			document.querySelectorAll('.remove_from_cart_button').forEach(button => {
				button.addEventListener('click', function (e) {
					e.preventDefault();
					const mealId = this.getAttribute('data-id');
					removeFromCart(mealId);
				});
			});
		};

		const removeFromCart = (mealId) => {
			// Update the cartItems array to remove the item with the given mealId
			cartItems = cartItems.filter(item => item.mealId !== parseInt(mealId));

			// Update localStorage with the modified cartItems array
			localStorage.setItem("cartItems", JSON.stringify(cartItems));

			updateCart();
		};


		// Initialize the cart update
		updateCart();
	});

</script>

</html>